<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">

  <title>ANYTEAM</title>
  <%# meta %> 

  <%# style %> 
  <!--<link rel="stylesheet" href="/assets/css/app.promo.css?v={{ model.version }}">-->
  <link rel="stylesheet" href="/static/css/app.css">

  <%# script %> 

  <%# tagmanager %> 
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','<%= gtm_container_id %>');</script>
  <!-- End Google Tag Manager -->
</head>
