.icon {
    display: block;
    height: 1rem;
    width: 1rem;
    background-color: var(--dark-blue);
    mask-repeat: no-repeat;
    mask-position: center;
    -moz-mask-repeat: no-repeat;
    -moz-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    &-red {
        background-color: var(--red);
    }

    &-primary {
        background-color: var(--primary);
    }

    &-white {
        background-color: var(--white);
    }

    &-lg {
        width: 1.5rem;
        height: 1.5rem;
        mask-size: 1rem;
        -moz-mask-size: 1rem;
        -webkit-mask-size: 1rem;
    }

    &-xl {
        width: 2rem;
        height: 2rem;
        mask-size: 1.5rem;
        -moz-mask-size: 1.5rem;
        -webkit-mask-size: 1.5rem;
    }

    &-arrow-left {
        mask-image: url("~/static/icons/arrow-left.svg");
        -moz-mask-image: url("~/static/icons/arrow-left.svg");
        -webkit-mask-image: url("~/static/icons/arrow-left.svg");
    }

    &-arrow-right {
        mask-image: url("~/static/icons/arrow-right.svg");
        -moz-mask-image: url("~/static/icons/arrow-right.svg");
        -webkit-mask-image: url("~/static/icons/arrow-right.svg");
    }

    &-arrow-down {
        mask-image: url("~/static/icons/arrow-down.svg");
        -moz-mask-image: url("~/static/icons/arrow-down.svg");
        -webkit-mask-image: url("~/static/icons/arrow-down.svg");
    }

    &-download {
        mask-image: url("~/static/icons/download.svg");
        -moz-mask-image: url("~/static/icons/download.svg");
        -webkit-mask-image: url("~/static/icons/download.svg");
    }

    &-plus {
        mask-image: url("~/static/icons/plus.svg");
        -moz-mask-image: url("~/static/icons/plus.svg");
        -webkit-mask-image: url("~/static/icons/plus.svg");
    }

    &-minus {
        mask-image: url("~/static/icons/minus.svg");
        -moz-mask-image: url("~/static/icons/minus.svg");
        -webkit-mask-image: url("~/static/icons/minus.svg");
    }

    &-close {
        mask-image: url("~/static/icons/close.svg");
        -moz-mask-image: url("~/static/icons/close.svg");
        -webkit-mask-image: url("~/static/icons/close.svg");
    }
}