// space 
// margin 
.m-0 {
  margin: 0;
}
// margin top
.mt-0 {
  margin-top: 0;
}
.mt-6 {
  margin-top: 6px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-11 {
  margin-top: 11px;
}
.mt-12 {
  margin-top: 12px;
}
.mt-14 {
  margin-top: 14px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-22 {
  margin-top: 22px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-26 {
  margin-top: 26px;
}
.mt-27 {
  margin-top: 27px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-35 {
  margin-top: 35px;
}
.mt-36 {
  margin-top: 36px;
}
.mt-37 {
  margin-top: 37px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-48 {
  margin-top: 48px;
}
.mt-52 {
  margin-top: 52px;
}
.mt-90 {
  margin-top: 90px;
}

// margin=left
.ml-16 {
  margin-left: 16px;
}
.ml-36 {
  margin-left: 36px;
}
.ml-24 {
  margin-left: 24px;
}

// margin right
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-24 {
  margin-right: 24px;
}
.mr-30 {
  margin-right: 30px;
}

// margin-bottom 
.mb-0 {
  margin-bottom: 0;
}
.mb-2 {
  margin-bottom: 2px;
}
.mb-6 {
  margin-bottom: 6px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-60 {
  margin-bottom: 60px;
}
.-mb-20 {
  margin-bottom: -20px;
}

// margin x
.mx-7 {
  margin-left: 7px;
  margin-right: 7px;
}

// padding x 
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}
.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pt-3 {
  padding-top: 3px;
}

.pt-8 {
  padding-top: 8px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}
// width
.w-50 {
  width: 50%;
}
.w-70 {
  width: 70%;
}
.w-full {
  width: 100%;
}
.w-80px {
  width: 80px;
}

