:root {
  --primary-color: #20375F;
  --secondary-color: #1877F2;
  --light-color: #EFF3F8;
  --white-color: #fff;
  --gray-color: #f2f2f2;
  --dark-gray-color: #9D9D9D;
  --yellow-color: #FAEC00;
  --danger-color: #FE2323;
  --info-color: #1BC3B9;

  --place-1-color: #C2AB5E;
  --place-2-color: #c1c1c1;
  --place-3-color: #B68245;

  --border-gray: #9d9d9d3d;
}